
@font-face {
  font-family: 'Imago-Medium';
  src: url('Imago-Medium.eot?#iefix') format('embedded-opentype'),  url('Imago-Medium.woff') format('woff'), url('Imago-Medium.ttf')  format('truetype'), url('Imago-Medium.svg#Imago-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
